.buttons {
    padding: 30px 50px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.buttons__item {
    padding: 15px 25px;
    margin: 10px 10px;
    position: relative;
    border-radius: 20px;
    border: none;
    background-color: lightgrey;
}

.buttons__item:hover {
    box-shadow: 0 0 0px 4px lightgrey inset;
    background-color: #fff;
    -webkit-animation-play-state: paused!important;
    animation-play-state: paused!important;
}

.buttons__item:nth-child(1) {
    animation: floating1  3s ease infinite;
}
.buttons__item:nth-child(2) {
    animation: floating2  3.2s ease infinite;
}
.buttons__item:nth-child(3) {
    animation: floating3  3.4s ease infinite;
}
.buttons__item:nth-child(4) {
    animation: floating4  3.6s ease infinite;
}



@keyframes floating1 {
    0% {
        top: 0;
    }

    50% {
        top: 60%
    }

    100% {
        top: 0;
    }
}

@keyframes floating2 {
    0% {
        top: 0;
    }

    50% {
        top: 60%
    }

    100% {
        top: 0;
    }
}

@keyframes floating3 {
    0% {
        top: 0;
    }

    50% {
        top: 60%
    }

    100% {
        top: 0;
    }
}

@keyframes floating4 {
    0% {
        top: 0;
    }

    50% {
        top: 60%
    }

    100% {
        top: 0;
    }
}